container_commands:
  do_set_hostname:
    command: "hostname $HOSTNAME"

  do_update_yum:
    command: yum -y update

  newrelic1:
    command: rpm -U --nosignature --replacepkgs http://download.newrelic.com/pub/newrelic/el5/i386/newrelic-repo-5-3.noarch.rpm

  newrelic2:
    command: yum -y install newrelic-sysmond

  newrelic3:
    command: "nrsysmond-config --set license_key=$NEW_RELIC_LICENCE_KEY"

  newrelic4:
    command: /etc/init.d/newrelic-sysmond start
